	#map{
		z-index:-10;
		height: 100%;
		width: 100%;
	}

	html,body{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	/* cartodb style  */

	/* hide the time slider from torque layer */
	.cartodb-timeslider{
		display: none!important;
	}

	#MOLA_title{
		position: absolute;
		left : 75px;
		background-color: #FFF;
		bottom: 75px;
		border-radius: 5px;
		padding-left: 5px;
		padding-right: 5px;
		border-color: #000;

	}
	/*  logo cartodb */
	.cartodb-logo{
		display: none!important;
	}
	/* Legends*/
	.cartodb-legend{
		left: 10px;
		width: 250px;
		height: auto;
		background-color: #FFF;
		opacity: 1;
		height: auto;
	}

	/* different styles for the leaflet plugins */
	.leaflet-control-attribution {
		display: none!important;
	}

	.leaflet-control-scale{
		bottom: -55px;
		right: 10px;
	}

	.leaflet-control-zoom{
		bottom: 30px;
		right: 25px;
	}

  .leaflet-control-scale-line {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		border: 2px solid #000;
		border-top: none;
		background-color: #f7f7f7;
		font-size: 12px;
		font-family: cursive;
		padding-left: 10px;
		padding-right: 10px;


	}
	.leaflet-control-layers-toggle{
		position: absolute;
		top: 40px;
		left: -30px;
	}
