<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="../img/wom-logo-redlight.png" height="100">
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
                <!-- <a class="navbar-brand page-scroll" href="#page-top" style="visibility: hidden;">WHERE ON MARS?</a> -->
                <a class="navbar-brand page-scroll" href="#page-top">WHERE ON MARS?</a>
                <!-- <a class="navbar-brand page-scroll" href="#page-top"><img border="0" src="./img/wom-logo.png" width="auto" height="auto"></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Project</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Where On Mars</div>
                <div class="intro-lead-in" style="margin-bottom:0px;">
                  <!-- Where should the first European rover land on Mars?</br>
                  Scientists have selected the most desireable landing sites to search for life.
                </br>Explore the candidates landing sites on an interactive map! -->
                ...should the first European rover land?</div>
                <div class="intro-lead-in" style="margin-top:50px; margin-bottom:80px; font-style:normal; font-size:28px;">
                 Visualise on this interactive map the potential landing sites that
                 scientists have selected for the ESA's ExoMars rover
                 to search for life!
                </div>
                <a href="#about" class="page-scroll btn" style="color:#fff">Tell me more <i class="fa fa-chevron-down"></i></a>
                <a href="../app/index.html" class="page-scroll btn btn-xl">Open map</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
