<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Project</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Objective</h3>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  <p class="large text-muted">
                  The objective and original idea for this project was twofold:
                 </p>
                 </br>
                </div>
                <div class="col-lg-5 col-lg-offset-1 text-center">
                 <i class="fa fa-map-o fa-3x text-muted"></i>
                 <h4 class="text-muted">Technological</h4>
                 <p class="medium text-light">
                  To experiment the use of modern open source web mapping technologies applied to
                  Planetary Science data and geospatial information.
                 </p>
                </div>
                <div class="col-lg-5 text-center">
                 <i class="fa fa-graduation-cap fa-3x text-muted"></i>
                  <h4 class="text-muted">Educational</h4>
                 <p class="medium text-light">
                 To increase public awareness of the ExoMars 2018 mission,
                 and more generally of the scientific and robotic exploration of Mars.
                 </p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                </br>
                  <p class="large text-muted">
                Given the nature of the ExoMars landing sites selection process,
                we hope that this project will continue as an open source
                and collaborative project.
                <!-- <a class="page-scroll" href="#contribute">How to contribute?</a> -->
                  </p>
                </div>
                <div class="col-lg-12 text-center"></br></br></div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Team</h3>
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <p class="large text-muted">
                        This project was made possible thank to a collaboration
                        of people from the ESA's European Science Astronomy Center (ESAC) and CartoDB,
                        as well as external Mars scientists.
                        </p>
                      </br></br>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="contribute" class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">How to contribute?</h3>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  <p class="large text-muted">
                  Whether you are an outreach and education professional, science journalist,
                  planetary scientist, a web developer, or simply like this project, you can contribute!
                 </p>
                 </br></br>
               </div>
            </div>



            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-send fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Share</h4>
                    <p class="text-muted">
                      If you like this interactive map of Mars, spread the word
                      and share it with your friends or co-workers!
<ul class="list-inline social-buttons square">
  <li><a href=""><i class="fa fa-twitter"></i></a></li>
  <li><a href=""><i class="fa fa-facebook"></i></a></li>
</ul>
                      <!-- <a href="https://twitter.com/intent/tweet">Twitter</a>,
                      <a href="https://twitter.com/intent/tweet">Facebook</a>,
                      <a href="https://twitter.com/intent/tweet">Twitter</a>, or send them an
                      <a href="https://twitter.com/intent/tweet">email</a>. -->
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Give Feedback</h4>
                    <p class="text-muted">
                      We want this interactive map to improve and evolve until the
                      final decision of the rover landing site.
                      We would love to hear your feeback or ideas on:
                      outreach techniques, narrative, data content, or visual and interactions design.
                      <a class="page-scroll" href="#contact">Contact us</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reuse and Improve</h4>
                    <p class="text-muted">
                      If you want to re-use and adapt this interactive map for similar projects,
                      or if your are a developer and want to help us to improve the code,
                      <a href="https://github.com/nmanaud/whereonmars" target="_blank">fork our repository</a>
                      on GitHub, and read on <a href="https://github.com/nmanaud/whereonmars/wiki" target="_blank">documentation</a>.
                    </p>
                </div>
            </div>


            <div class="row">
                <br/></br>
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Acknowledgments</h3>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                  <p class="medium text-muted">
                  </br>
                    We acknowledge the <a href="">ESAC</a> HR Service and the Science Operations Department for having organised and funded this ESAC Trainee Project, part of the <a href="http://www.esa.int/About_Us/Careers_at_ESA/Student_placements2" target="_blank">ESA Student Placement</a>.
                    We acknowledge the <a href="">CartoDB</a> team in Madrid for its enthousiasm and amazing support: Carla, Dani, Javier Santana, Alejandro.
                    We acknowledge advice and data provided by the
                  <a href="https://www.ucl.ac.uk/earth-sciences/research/rpif" target="_blank">UK NASA RPIF</a> at UCL. Peter Grindrod and Elliot.
                 </p>
               </div>
            </div>

        </div>
    </section>
